<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="static/css/cover.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>

    <link rel="stylesheet" href="static/css/style_d3.css">
    <link rel="stylesheet" href="static/css/d3Style.css">
  

    <title>Charts</title>
  </head>
  <body class="chart-body">
    {% block content %}
    <nav class="navbar nav-masthead navbar-expand-lg navbar-light nav-bar-color justify-content-end">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav justify-content-end flex-1">
          <li class="nav-item current-selection">
            <a class="nav-link" href="/" style="color: lightgray">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="charts" style="color: white">Charts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data" style="color: lightgray">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="map" style="color: lightgray">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacts" style="color: lightgray">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('data_sf') }}" style="color: lightgray">API</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="section-color-black">
      <div class="container">
        <h1 class="contacts-title">Explore the Data</h1>
        <br>
        <p class="body-font">The visualizations presented on this page illustrate the impact of COVID-19 on businesses in San Francisco, California.</p>
      </div>
    </section>
    
    
      <div class="container-1">
        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading">General Business Start and End Date Data <span class="text-muted"></span></h2>
            <p class="lead">The chart presented below illustrates the number of businesses that have opened and closed by year since 2009.</p>
            <div id="bar"></div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12 order-md-2">
            <h2 class="featurette-heading-2">Business by Type (NAICS) <span class="text-muted"></span></h2>
            <p class="lead featurette-heading-2">This chart presents data for the number of busineses closed by NAICS code. More specifcally, the data presented in this chart shows the business closures in 2020.</p>
            <div class="container-chart">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading">Business Closure by Type (NAICS)<span class="text-muted"></span></h2>
            <p class="lead"> The chart below provides business closures by business type for the last ten years via the selection menu. </p>
            <div class="row relative">
              <div class="loader">Loading...</div>
              <div class="col-md-1">
                <div class="well">
                  <h5>Select a year:</h5>
                  <select id="selDataset" onchange="optionChangedNAICS(this.value)"></select>
                </div>
              </div>
              <div class="col-md-11">
                <div id="bar2"></div>
              </div>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading-2">Business Closure by Neighborhood<span class="text-muted"></span></h2>
            <p class="lead featurette-heading-2"> The chart below provides business closures by neighborhoods in San Francisco for the last ten years via the selection menu. </p>
            <div class="row relative2">
              <div class="loader2">Loading...</div>
              <div class="col-md-1">
                <div class="well">
                  <h5>Select a year:</h5>
                  <select id="selDataset2" onchange="optionChanged(this.value)"></select>
                </div>
              </div>
              <div class="col-md-11">
                <div id="bar3"></div>
              </div>
            </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading">Business Locations Opened and Closed<span class="text-muted"></span></h2>
            <p class="lead"> The chart below provides number of business locations opened and closed in the last ten years. </p>
            <div class="row">
              <div class="col-md-12">
                <div id="bar4"></div>
              </div>
            </div>
          </div>
        </div>

        





    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- <script src="app.js"></script> -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  

    {% endblock %}
  </body>
</html>