<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../static/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/cover.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Contacts</title>
  </head>
  <body>
    {% block content %}
    <nav class="navbar nav-masthead navbar-expand-lg navbar-light nav-bar-color justify-content-end">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav justify-content-end flex-1">
          <li class="nav-item current-selection">
            <a class="nav-link" href="/" style="color: lightgray">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="charts" style="color: white">Charts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="map" style="color: lightgray">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data" style="color: lightgray">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacts" style="color: lightgray">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('data_sf') }}" style="color: lightgray">API</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="section-color-black">
      <div class="container-img">
        <h1 class="contacts-title">Meet the team at Elev8</h1>
        <br>
        <p class="body-font">We are an energetic team working to explore new ways to bring valuable insights in order to solve everyday practical problems.</p>
      </div>
    </section>
    
      <br>
      <div class="cards-div">
        <div class="card" style="width: 18rem;">
          <img src="../static/img/tara.jpg" class="card-img-top" alt="image of tara">
          <div class="card-body">
            <h3 class="featurette-heading">Tara Madhyasta</h3>
            <p class="lead">Enthusiastic data analyst looking for an opportunity help you make quick and informed decisions.</p>
            <p class="lead">Let's connect!</p>
            <div class="icon-group">
              <a href="https://github.com/katrinan029"><img class="icon" src="../static/img/github.png"></a>
              <a href="https://www.linkedin.com/in/katrina-nguyen-19106072/"><img class="icon" src="../static/img/linkedin.png"></a>
              <a href="mailto: katrinan@usc.edu"><img class="icon" src="../static/img/gmail.png"></a>
            </div>
          </div>
        </div>
        
        <div class="card" style="width: 18rem;">
          <img src="../static/img/medha.png" class="card-img-top" alt="photo of medha">
          <div class="card-body">
            <h3 class="featurette-heading">Medha Aravind</h3>
            <p class="lead">I am passionate about story telling, especially when there is data for me to piggy back off of.</p>
            <p class="lead">Let's connect!</p>
            <div class="icon-group">
              <a href="https://github.com/katrinan029"><img class="icon" src="../static/img/github.png"></a>
              <a href="https://www.linkedin.com/in/katrina-nguyen-19106072/"><img class="icon" src="../static/img/linkedin.png"></a>
              <a href="mailto: katrinan@usc.edu"><img class="icon" src="../static/img/gmail.png"></a>
            </div>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="../static/img/robert.jpeg" class="card-img-top" alt="photo of robert">
          <div class="card-body">
            <h3 class="featurette-heading">Robert Smith</h3>
            <p class="lead">Creative coder always thinking differently.</p>
            <p class="lead">Let's connect!</p>
            <div class="icon-group">
              <a href="https://github.com/katrinan029"><img class="icon" src="../static/img/github.png"></a>
              <a href="https://www.linkedin.com/in/katrina-nguyen-19106072/"><img class="icon" src="../static/img/linkedin.png"></a>
              <a href="mailto: katrinan@usc.edu"><img class="icon" src="../static/img/gmail.png"></a>
            </div>
          </div>
        </div>

      
        <div class="card" style="width: 18rem;">
            <img src="../static/img/katrina.jpg" class="card-img-top" alt="photo of katrina">
              <div class="card-body">
                <h3 class="featurette-heading">Katrina Nguyen</h3>
                <p class="lead">Life long learner. Passionate coder. </p>
                <p class="lead">Let's connect!</p>
                <div class="icon-group">
                  <a href="https://github.com/katrinan029"><img class="icon" src="../static/img/github.png"></a>
                  <a href="https://www.linkedin.com/in/katrina-nguyen-19106072/"><img class="icon" src="../static/img/linkedin.png"></a>
                  <a href="mailto: katrinan@usc.edu"><img class="icon" src="../static/img/gmail.png"></a>
                </div>
              </div>
        </div>


        

      </div>
      <br>
      <br>
      <br>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>